<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Vendas</title>
</head>
<body>
    <h1>Lista de Vendas</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome do Cliente</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Data da Venda</th>
        </tr>
        {% for venda in vendas %}
        <tr>
            <td>{{ venda[0] }}</td>
            <td>{{ venda[1] }}</td>
            <td>{{ venda[2] }}</td>
            <td>{{ venda[3] }}</td>
            <td>{{ venda[4] }}</td>
            <td>{{ venda[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
